.buttonWhitelog .loader,
.buttonWhitesign .loader {
  display: none;
}
.buttonWhitelog .buttonText,
.buttonWhitesign .buttonText {
  display: inline;
}

.buttonWhitelog.loading,
.buttonWhitesign.loading {
  pointer-events: none;
  opacity: 0.9;
}
.buttonWhitelog.loading .loader,
.buttonWhitesign.loading .loader {
  display: inline-block;
}
.buttonWhitelog.loading .buttonText,
.buttonWhitesign.loading .buttonText {
  display: none;
}
.loader {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-top: 3px solid #f3f2f7;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
body , html{  
    background: linear-gradient(135deg, #e0e0e0, #f2f2f2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    height: 100vh;
    font-family: "Montserrat";
}

.box{ 
    height: 90vh;
    display: grid; 
    place-items:center;
     position: relative;
}

.blackCard,
.whiteCard { 
  grid-area: 1 / 1; 
}

.whiteCard { 
    background-color: #fafafa;
    width: 300px;
    height: 300px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    transform: translateX(-150px);   
    transition: transform .6s ease; 
    
}

.whiteCard.right { 
  transform: translateX(150px);
}


.blackCard{ 
    background: linear-gradient(135deg, #2e2e2e, #3c3c3c);
    width: 600px;
    height: 250px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;  
    justify-content: space-between; 
    align-items: center;
}

.loginAccount, .noAccount{
        color: #E5E7EB;
}

.buttonBlack{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #fcf9f9;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 16px;
    color: #f2f2f2;
    padding:20px;
    width: 120px;
}

.box.is-signup .whiteCard {
    transform: translateX(150px);
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.buttonText {
  transition: opacity 0.2s ease;
}



